@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;1,100&display=swap');
body {
	background-color: white;
	font-family: 'Exo', sans-serif;
	font-size: 20 px;
}
.content {
	width: 1200px;
	margin: 0px;
}

header img,
header nav{

	float:left;
}
nav ul li {
	display: inline-block;
	padding: 50px;
}
.social{
	padding: 20px;
	float: right;
}

nav ul li a{
	color:black;
	text-decoration: none;
}
nav ul li a:hover{
	text-decoration:underline;
}
.hover{
	transition: 0.3;
	opacity: 1;
}
.hover:hover{
	transition: 0.3;
	opacity: 0.5;
}
.banner img{
	width: 100%;
	margin: 20px 0;
	

}
.texto{
	padding: 40px;
	float: left;
}
.servico{
	background:yellow;
	padding: 70px 0;
	margin: 50px 0 ;
}
.servico{
	display:inline-block;
}
.servico img{
	border: 2px solid white;
}
.titulo{
	color: white;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
}
	